@use "sass:math";
@import "vars";

//TODO this should definitely be tree-shakeable!!!
@import "~/bootstrap/scss/bootstrap";
@import "bs_overrides";
@import "severity_scale";

#corner-nav {
  flex-direction: row;
  --bs-nav-link-padding-x: 0.25rem;

  .nav-item {
    height: 2.5rem; //already the default for text-based links, but icons need this
  }
  .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    &.emoji {
      text-decoration: none;
      font-size: 1.25rem;
    }
  }
  .nav-link i[class|=bi] {
    display: inline-flex; //makes the icon centralized vertically
    text-decoration: none; //not sure why setting display:flex causes the underline to show up, but anyway...
  }
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline }
}

a > i[class|=bi] {
  margin-right: 0.25rem;
}

.hover-help {
  text-decoration: $body-secondary-color dotted underline;
  cursor: help;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  div[class^=spinner-] {
    width: 20vw;
    height: 20vw;
    max-width: 50vh;
    max-height: 50vh;
    border-width: 0.75rem;
  }
}

header {
  $img-height: 32px;
  .navbar-brand img {
    height: $img-height;
  }
  .navbar-expand-sm .navbar-collapse {
    display: inline-flex !important;
  }
  #profile {
    display: flex;
    align-items: center;
    .dropdown-toggle {
      padding-top: 0;
      padding-bottom: 0;
    }
    img {
      width: $img-height;
      border-radius: math.div($img-height, 2);
    }
  }

}

main {
  .card:last-of-type {
    margin-bottom: 0 !important;
  }
}
